

/* --------------------------------------------------VARIABLES------------------------ */
:root {
    --black-standar: rgba(0,0,0,0.87);
}

/* <-----------------------------------------------------------------------> */

* {
    margin: 0px;       /*  reset css default all html  */
    padding: 0px;
}

body {
    font-size: small;
    display: grid;
    font-family: arial,sans-serif;
}
/* <------------------------------------------------------HEADER-------> */
header {
    width: 100%;
    height: 50px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

header nav ul {
    display: inherit;
    margin-top: 25px;
}

header nav ul li {
    height: auto;
    list-style-type: none;
    display: inherit;
    justify-content: center;
    align-items: center;
}


 header .nav-menu {
    text-decoration: none;
    color: var(--black-standar);
    margin-right: 10px;
}

header .nav-menu:hover {
    text-decoration: underline;
    font-weight: 500;
}

#menu:hover {
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    cursor: pointer;
}

#login {
    text-decoration: none;
    box-shadow: 2px 5px 8px rgba(0,0,0,.15);
    border: 1px solid #4285f4;
    font-weight: bold;
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    color: #fff;
    padding: 8px 10px;
    margin-left: 10px;
}

#login:hover {
    background: #3969b7;
    box-shadow: 2px 5px 8px rgba(0,0,0,.15);
}


.container {
    display: inherit;
    align-self: flex-start;
    justify-self: center;
    align-self: normal;
    margin-top: 105px;
    margin-bottom: 20px;
}

.logo {
    width: 272px;
    height: 92px;
    display: inherit;
    justify-self: center;
    background-color: transparent;
    border: none;
    margin-bottom: 30px;
}

.searching {
    display: inherit;
    justify-self: center;
}

.cja-search {
    display: flex;
    justify-content: left;
    width: 595px;
    height: 45px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 25px;
}

.cja-search:hover {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.cja-search img {
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-left: 10px;
}

.search {
    background-color: transparent;
    border: none;
    padding: 0px;
    color: var(--black-standar);
    font-size: 16px;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    padding: 0px 16px;
    font-size: 14px;
}

#btn1 {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    border-radius: 5px;
    margin-right: 13px;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#btn1:hover {
    border: 1px solid #c6c6c6;
    background-color: white;
    color: #222;
    cursor: pointer;
}

#btn2 {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#btn2:hover {
    border: 1px solid #c6c6c6;
    background-color: white;
    color: #222;
    cursor: pointer;
}


.lenguaje {
    display: flex;
    justify-content: center;
    color: #222;
}

.lenguaje a {
    margin-left: 10px;
    text-decoration: none;
}

.lenguaje a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width:100%;
    height: 100%;
    box-sizing: border-box;            /* -----------TRUCAZO!!!---------- */
    height: 30px;
    margin-top: 152px;
    background-color: #f2f2f2;
}

.about {
    display: flex;
    justify-content: start;
    width: 500px;
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
}

.about a {
    margin-right: 25px;
}

.setting {
    width: 500px;
    margin-top: 10px;
    margin-left: 50px;
    text-align: right;
}

.setting a {
    margin-right: 25px;
}

footer a {
    text-decoration: none;
    color: #5f6368;
}

footer a:hover {
    text-decoration: underline;
    color: #5f6368;
}
